.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
}
.dfl{
    display: flex;
} 
.fdc{
flex-direction: column;
}
.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.tac{
    text-align: center;
}
.f20{
    font-size: 20px;
}

.logincontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
input, textarea {   
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #1da1f2;
    box-shadow: 0 0 5px rgba(29, 161, 242, 0.5);
}